.book{
    width: 18%;
    // height: 400px;
    background-color: rgb(248, 238, 225);
    border: solid 2px rgb(32, 19, 2);
    margin: 10px;
    color: brown;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5%;
}
.img{
    width: 150px;
    height: 200px;
    margin-top: 20px;
}
.btn {
    width: 160px; 
    height: 30px;
    margin-bottom: 10px;
    background-color: rgb(250, 227, 196);
    color: brown;
}