
.wrapperRed{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    .modal{
        width: 630px;
        height: 300px;
        // height: 100%;
        background-color: rgb(219, 45, 45);
        overflow-y: auto;
        // height: 100%;
    }
    .header{
        height: 50px;
        background-color: rgb(168, 38, 38);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 2%;
    
    }
    .title{
        color: white;
        font-size: 150%;
        padding-left: 2%;
    }
    .button{
        margin-right: 2%;
        color: white;
        font-size: 200%;
        background-color: rgb(168, 38, 38);
        border: none;
        cursor: pointer;
    }
    .content{
        margin-top: 5%;
        margin-bottom: 6%;
        color:white;
        font-size: 130%;
        // height: 100%;
        line-height: 150%;
        overflow-y: auto;
    }
    
    .buttonOk{
        color:white;
        margin-right: 3%;
        width: 20%;
        font-size: 150%;
        padding: 1%;
        background-color: rgb(88, 20, 20);
        border: none;
        cursor: pointer;
    }
   
    .buttonCancel{
        color:white;
        margin-left: 3%;
        width: 20%;
        font-size: 150%;
        padding: 1%;
        background-color: rgb(88, 20, 20);
        border: none;
        cursor: pointer;
    }
    .buttonEsc{
        color:white;
        margin-left: 3%;
        width: 8%;
        height: 100%;
        font-size: 150%;
        padding: 1%;
        background-color: rgb(168, 38, 38);
        border: none;
        cursor: pointer;
    }
    .buttonHello{
        color:white;
        margin-left: 3%;
        width: 40px;
        height: 40px;
        font-size: 150%;
        padding: 1%;
        background-color: rgb(168, 38, 38);
        border: none;
        cursor: pointer;
    }
}
.buttonHello{
    color:white;
    margin-left: 20px;
    font-size: 150%;
    padding: 30px;
    background-color: rgb(92, 156, 230);
    border: none;
    cursor: pointer;
}
// .buttonEsc{
//     color:white;
//     margin-left: 3%;
//     // width: 20%;
//     font-size: 150%;
//     padding: 1%;
//     background-color: rgb(20, 21, 88);
//     border: none;
//     cursor: pointer;
// }