.buttonCancel{
    color:white;
    margin-left: 3%;
    width: 20%;
    font-size: 150%;
    padding: 1%;
    background-color: rgb(88, 20, 20);
    border: none;
    cursor: pointer;
}
.buttonEsc{
    color:rgb(255, 255, 255);
    margin-left: 3%;
    // width: 20%;
    font-size: 150%;
    padding: 1%;
    background-color: rgb(22, 88, 20);
    border: none;
    cursor: pointer;
}