.favorites{
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}
.book{
    width: 18%;
    // height: 400px;
    background-color: rgb(248, 238, 225);
    border: solid 2px rgb(32, 19, 2);
    margin: 10px;
    color: brown;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5%;
}