.cartItem{
    // width: 80px;
    // font-size:12px;
    // color: red;
    // display: flex;
    // justify-content: flex-start;
    // align-self: flex-start;
    width: 300px;
    // height: 400px;
    background-color: rgb(248, 238, 225);
    border: solid 2px rgb(32, 19, 2);
    margin: 10px;
    color: brown;
    font-weight: 700;
    font-size: 12px;
    border-radius: 5%;
}